*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body{
    border: 15px groove green;
    height: 2050px;
    background-image: url("./img/img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.boxs{
    display: flex;
}
 .firstbox, .secondbox,  .thirdbox{
    border: 7px solid red;
}
.firstbox{
    font-size: 2rem;
    color: white;
    margin:20px -170px 0 20px;
    height: 140px;
    border-radius: 30px;
    padding: 20px;
    background-color: black;
}
.secondbox{
    color: white;
    height: 60px;
    margin-top: 30px;
    font-size: 2rem;
    border-radius: 50px;
    background-color: black;
    padding: 40px 60px 0 60px;
}
.thirdbox{
    font-size: 2rem;
    margin-top: 15px;
    margin-left: 160px;
    border-radius: 30px;
    padding: 20px 90px 0 90px;
    color: white;
    background-color: black;
    margin-bottom: 170px;
}
.midsection{
    display: flex;
}
div .form{
    background-color: white;
    display: inline-block;
    text-align: center;
    margin-left: 200px;
    margin-top: -70px;
    border: 5px dashed red;
    padding-bottom: 20px;
    font-size: 1.2rem;
}
.form input::placeholder{
    text-align: center;
}
.form button{
    padding: 4px;
    border-radius: 5px;
}
.form .reset{
    padding: 5px;
    border-radius: 3px;
}
div .form label{
    color: red;
}
.form h1{
    color: red;
    padding: 10px 20px 10px 20px;
}
div .zero{
    background-color: rgb(34, 199, 199);
    padding-top: 130px;
    box-sizing: border-box;
    height: 500px;
    margin-top: 70px;
    margin-left: 60px;
    width: 500px;
    border: 5px solid gray;
    border-radius: 50%;
}
div .zero h2{
    padding: 20px;
    text-align: center;
}
.menu h1{
    text-align: center;
    margin: 40px 460px;
    width: 400px;
    border-radius: 30px;
    padding: 15px 40px 15px 40px;
    display: inline-block;
    border: 10px solid red;
    color: white;
    background: black;
}
.hr{
    margin-top: -30px;
}
.foodbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: space-evenly;
}
.starter{
    width: 280px;
}
.foodbox .menu-box h1{
    font-size: 3rem;
    color:rgb(0, 0, 138);
    margin: 20px 10px 20px 10px;
}
.foodbox .menu-box{
    text-align: center;
    margin-top: 40px;
    padding: 10px 20px 40px 20px;
    background-color: aqua;
    border-radius: 20px;
    border: 3px solid green;
}
.foodbox .menu-box ul{
    padding-left: 20px;
    margin-top: 30px;
    color:rgb(0, 0, 138);
}
.foodbox .menu-last-box{
    height: 320px;
    margin-top: 40px;
    width: 350px;
    background-color: aqua;
    text-align: center;
    border: 3px solid green;
    padding: 10px 20px 20px 20px;
    border-radius: 20px;
}
.menu-last-box .last-box{
    margin-bottom: 40px;
}
.menu-last-box h1{
    font-size: 3rem;
    margin: 20px 10px 20px 10px;
    color:rgb(0, 0, 138);
}
.menu-last-box ul{
    padding-left: 20px;
}
.box-4, .box-5{
    height: 250px;
}
.last{
    height: 400px;
    color:rgb(0, 0, 138);
}
.last hr{
    margin-bottom: 30px;
}
.foodbox hr{
    width: 113%;
    position: relative;
    right: 20px;
}
.foodbox .hr6{
    width: 111%;
    position: relative;
    right: 20px;
}
.foodbox .hr3{
    position: relative;
    width: 111%;
    right: 20px;
}
.foodbox .hr5{
    width: 111%;
    position: relative;
    right: 20px;
}